<div class="max-w-7xl mx-auto px-6 py-8">
    <div class="flex justify-between items-center w-full">
        <div>
            <h1 class="text-2xl font-semibold mb-6">My Recipes</h1>
        </div>
        <div class="flex space-x-4"><button [ngClass]="{'bg-black text-white':gridView}"
                class="border border-gray-200 p-2 rounded-lg" (click)="changeGridView()"><i
                    [ngClass]="{'text-white':gridView}" class="fas fa-th-large text-gray-600"></i></button><button
                [ngClass]="{'bg-black text-white':!gridView}" (click)="changeListingView()"
                class="border border-gray-200 p-2 rounded-lg"><i [ngClass]="{'text-white':!gridView}"
                    class="fas fa-list text-gray-600"></i>
            </button></div>
    </div>
    <div class="flex justify-between items-center mb-6">
        <div class="flex space-x-4">
            <button *ngFor="let category of categories" (click)="filterListing(category)"
                [ngClass]="{'bg-black text-white': selectedCategory === category, 'text-gray-600 hover:text-black': selectedCategory !== category}"
                class="px-4 py-2 rounded-lg">
                {{ category }}
            </button>
        </div>

    </div>
    <div>
        <div *ngIf="recipes.length > 0; else noRecipes">
            <div *ngIf="gridView" class="flex flex-wrap gap-6">
                <app-meal-card *ngFor="let recipe of filteredRecipes; let i = index"
                    [mealData]="recipe"></app-meal-card>
            </div>
            <div *ngIf="!gridView">
                <app-meal-list class="flex my-3 " *ngFor="let recipe of filteredRecipes; let i = index"
                    [mealData]="recipe"></app-meal-list>
            </div>
        </div>
        <ng-template #noRecipes>
            <p class="text-gray-500">No recipes found. Please add a recipe first!</p>
        </ng-template>
    </div>
</div>