<div class="bg-white rounded-lg shadow-sm overflow-hidden relative" style="max-width:220px;">
    <!-- Radio Button (Top-Left) -->
    <input type="radio" name="selectedMeal" *ngIf="!displayRecipie" [value]="mealData.id"
        (click)="selectMealID(mealData.id)"
        class="absolute top-2 left-2 w-5 h-5 text-custom border-gray-300 focus:ring-custom cursor-pointer" />

    <img [src]="mealData.image" class="h-48 w-full object-cover" alt="{{ mealData.name }}" (click)="openDetails()" />

    <div class="p-4">
        <div class="flex items-center justify-between mb-2">
            <h3 class="font-medium">{{ mealData.name }}</h3>
            <button class="text-gray-400 hover:text-custom">
                <i class="far fa-heart" *ngIf="!favourite"></i>
                <i class="fa-solid fa-heart text-red-500" *ngIf="favourite"></i>
            </button>

        </div>
        <div class="flex items-center text-sm text-gray-500 space-x-4" (click)="openDetails()">
            <span><i class="far fa-clock mr-1"></i> {{ mealData.prepTime }} mins</span>
            <span><i class="fas fa-utensils mr-1"></i> {{ mealData.difficulty }}</span>
            <span><i class="fas fa-fire mr-1"></i> {{ mealData.nutrition.calories }}cal</span>
        </div>
    </div>
</div>