<div class="max-w-7xl mx-auto px-6 py-8">
    <h1 class="text-2xl font-semibold mb-6">Popular Recipes</h1>
    <div class="flex  gap-6">
        <div *ngIf="recipes.length > 0; else noRecipes">
            <div class="flex flex-wrap justify-center gap-6">
                <app-meal-card *ngFor="let recipe of recipes; let i = index" [mealData]="recipe"></app-meal-card>
            </div>

        </div>
        <ng-template #noRecipes>
            <p class="text-gray-500">No recipes found. Please add a recipe first!</p>
        </ng-template>
    </div>
    <h2 class="text-2xl font-semibold mt-12 mb-6">Recent Meal Plans</h2>
    <div class="bg-white rounded-lg shadow-sm p-6 border border-gray-100">
        <div class="flex items-center justify-between mb-6">
            <h3 class="font-medium">This Week&#39;s Plan</h3>

        </div>


        <app-week-plan></app-week-plan>

    </div>
</div>